<div class="container">
  <h4 class="textboard">Welcome to our Digital Whitebord!. Feel free to add your sticky notes!</h4>

  <form role="form" ng-submit="add(todo)">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What's next?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" ng-click="test()" class="btn btn-primary" value="Add note">
        </span>
      </div>
    </div>
  </form>

  <p></p>

</div>

<div ui-sortable ng-model="todos" class"todost">
  <ul class="input-group2" ng-repeat="todo in names" ng-style="{'background-color':todo.color}">
    <li class="stickycontainer">
      <div>
        <input type="text" ng-model="todo.name" class="form-control" ng-style="{'background-color': 'transparent',
        'border': 'none', 'color': 'white', 'text-shadow': '-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000', 'outline': 'none', 'font-size':'20px'}">

<!--   <div rows="4" cols="25" ng-model="todo.textarea" >{{todo.textarea}}</div> -->
        <textarea rows="4" cols="25" ng-model="todo.textarea" ng-style="{'background-color': 'transparent',
        'border': 'none', 'color': 'white', 'text-shadow': '-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000', 'outline': 'none'}">></textarea>

        <span class="glyphicon glyphicon-refresh" ng-click ="update(todo.id, todo.name, todo.color, todo.textarea)"></span>
        <span class="glyphicon glyphicon-remove" ng-click ="delete(todo.id)"></span>

        <select ng-model="todo.color">
          <option value="">Colors</option>
          <option value="Red">Red</option>
          <option value="Blue">Blue</option>
          <option value="Purple">Purple</option>
          <option value="Yellow">Yellow</option>
          <option value="Pink">Pink</option>
        </select
        
        <br/>
      </div>
    </li>    
  </ul>
</div>
 